.cta {
  background: linear-gradient(135deg, #3383da 0%,#4ebaeb 100%);;
  color: #fff;
  padding: 48pt 0;
  text-align: center; 
}
/*.cta-reverse {background: linear-gradient(to right, #c5fffa, #929afc); }*/
.cta .plain {background: #3383da;}
.cta .secondary {background: #4ebaeb;}
.cta .title {color: inherit;}
.cta .sub {
  opacity: 0.85;
  max-width: 58ch;
  margin: 16pt auto 24pt auto;
}