.footer {
  background-color: #333C44;
  padding: 36pt 0;
  color: #d9d9d9;
}
.footer .inner {
  -js-display: flex;
  display: flex;
  justify-content: space-between;
  color: #d9d9d9;
}
.footer .textLogo {
  flex-shrink: 0;
  padding-right: 16pt;
  display: block;
  cursor: pointer;
  color: #fff;
  font-size: 1.225rem;
  min-width: 33%;
  margin-bottom: 1.5rem; 
}
@media (min-width: 600px) {.footer .textLogo {margin-bottom: 0;}}
@media (min-width: 992px) {
  .footer .textLogo {
    min-width: 25%;
    font-size: 1.325rem; 
  } 
}
.footer .textLogo:hover, .footer .textLogo:focus{
  color:#4ebaeb;
  text-decoration: none;
}
.footer .data {
  -js-display: flex;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-top: 0.25rem;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 0.9rem; 
}
@media (min-width: 992px) {
    .footer .data {
      flex-wrap: nowrap;
      flex-direction: row; 
  } 
}
.footer .data .item {
  padding-bottom: 0.5rem;
  display: inline-block;
  margin-bottom: 8pt;
}
.footer .link {
  color: #d9d9d9;
  padding-bottom: 1pt;
  transition: 0.7s;
  text-decoration: none; 
  border-bottom: 1px dotted #d9d9d9;
}
.footer .link:hover {
  color: #81d5fe;
  text-decoration: none;
  border-bottom: 1px solid #4ebaeb;
 }
.footer_row {margin-bottom: 8pt;}