#scrollToNext{line-height: 0.7;z-index: 1000;}
.hero{box-shadow: 0 2px 11px rgba(124,146,169,.5);}
.hero__text{text-align: center;}

.hero__overlay {background-color: #0054ff;}
.hero__overlay--gradient {background: linear-gradient(to right, #0054ff, #00bbff)}
/*.hero__overlay--gradientVertical {background: linear-gradient(to bottom, #5B91FF, #347BFF);}*/
.hero__overlay--gradientVertical {background: linear-gradient(to bottom, #0054ff, #00bbff);
}
/*background-image: linear-gradient(to right bottom, #0077c1, #003377);*/

.navbar{background-color: #005095;}
.navbar--extended {background-color: transparent;}
  .navbar--extended .navbar__inner {
    height: 60px;
    color: #ffffff; 
}
::selection{
  background: #0077c1;
  color: #fff;
}