.page_header {
  position: relative;
  color: #ffffff;
  box-shadow: 0 4px 11px rgba(124, 146, 169, 0.5);
  width: 100%;
}
.page_header_inner {
  padding: 66px 0 0 0;
  position: relative;
  z-index: 3;
}
.page_header_content {
  -js-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32pt 0;
  overflow: auto;
}
.page_header_content_inner {
  width: 100%;
  max-width: 66ch;
  text-align: center;
}
/*--- CONTENT STYLING ---*/
.page_header_title {
  color: inherit;
  margin-bottom: 1.25em;
}
.page_header_text {
  opacity: 0.85;
  line-height: 1.7;
  text-align: left;
}
.page {padding: 24pt 0;}
@media (min-width: 992px) {
  .page_inner {
    -js-display: flex;
    display: flex;
  }
}
.page_menu {
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .page_menu {
    display: block;
    width: 300px;
    flex-shrink: 0;
  }
}
.page_main {flex-grow: 1;}
.page_main_title {margin-top: 0.75em;}
.page_image {max-width: 100%;}